body {
    background-image: url(img/background.jpg); 
    background-size: 100%; 
}
hr {
    width: 80%;
    height: 2px;
}

.div1 {
    background-color:#000000 ; height:40px;
    font-size: 25px; text-align: center;
    margin-top: 20px; color: white;
    width: 70%;  margin-left: 470px; 
    
    width: 25em; vertical-align: middle; border-radius: 15px;
}
.text1 {
    color:white; font-size:20px; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 border-style: double; border-color: #000000; width: 70%;  margin-left: 235px; margin-bottom: 30px; text-align: center; background-color: black;
}

.footer {
    text-align: center; bottom: 0px; background-color: #000000; width: 100%; height: 25px;
    color:white; position:fixed; font-family:Georgia, 'Times New Roman', Times, serif;
}
.main-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
}
.main-menu > li {
    display: inline-flex;
}
.main-menu > li + li {
    margin-left: 20px;
}
.main-menu > li > a {
    padding: 0 0 20px 0;
    position: relative;
    text-transform: uppercase;   
    color: rgb(255, 255, 255);
    font-weight: bold;
    letter-spacing: 0.2px;
    font-size: 25px;
    text-decoration: none;   
    padding: 5px;
}
.main-menu > li > a:hover {
    text-decoration: none;   
    color: #6333af;
}
.main-menu > li > a:after {
    width: 0;
    height: 3px;
    background-color: #6333af;
    content: '';
    left: 0;
    bottom: 10px;
    position: absolute;
    transition: all .3s;
}
.main-menu > li > a:hover::after {
    width: 100%;
}
.main-menu > li.active a:after {
    width: 100%;
}
.main-menu li {
    margin: 0;
    white-space: nowrap;
}
.main-menu li.menu-children {
    position: relative;
    margin-right: 12px;
}
.main-menu li.menu-children:after {
    position: absolute;
    content: "\2039";
    color: #963d21;
    font-size: 20px;
    font-weight: bold;
    right: -12px;
    top: -2px;
    transform: rotate(-90deg);
}
.main-menu li li.menu-children:after {
    position: absolute;
    content: "\2039";
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    right: 10px;
    top: 12px;
    transform: rotate(180deg);
}
.main-menu li.menu-children:hover > ul {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.main-menu ul {
    padding: 10px 0;
    margin: 0;
    list-style: none;
    background-color: #963d21;
    position: absolute;
    z-index: 20;
    min-width: 220px;
    top: 100%;
    left: -30px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(5px);
    transition: all 200ms cubic-bezier(0.43, 0.59, 0.16, 1.25);
}
.main-menu ul li {
    display: block;
    padding: 0 10px;
    line-height: 1.1;
}
.main-menu ul li:last-child {
    margin-bottom: 0;
}
.main-menu ul li a {
    display: block;
    color: #fff;
    padding: 10px;
    transition: all .3s;
    text-decoration: none;   
}
.main-menu ul li a:hover {
    color: #963d21;
    background: #FFF;
    text-decoration: none;   
}
.main-menu ul ul {
    top: 0;
    left: 100%;
}
.text2 {
    font-size: 100px; 
    font-family: 'Mountains of Christmas', cursive;
    color:white;
    text-align: center;
    text-shadow: #000000;
}
@font-face {
    font-family: 'Mountains of Christmas';
    src: url(MountainsofChristmas-Regular.ttf);
}
.text3 {
    font-size: 100px; 
    font-family: 'Mountains of Christmas', cursive;
    color:white;
    text-align: right;
    margin-right: 250px; 
    text-shadow: #000000;

}


